*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-image: linear-gradient(120deg, #1d617a 0%, #2b7eae 100%);
    height: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

li,a{
    color: white;
    display: inline;
    padding: 40px;
    text-decoration-line: none;
    font-size: 30px;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

header{
    background-color: white;
}
header img{
width: 150px;
height: 150px;
padding: 0;
margin: 0;

}

h1{color: rgb(178, 245, 247);
    font-size: 50px;
    font-weight: bold;
}
h2{color: #1d617a;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
p{color: white;
    font-size: 25px;
    font-weight:lighter;
    font-family: Arial;
    text-align: justify;
   
    
}
#seccion1{
    background-image: linear-gradient(120deg, #1d617a 0%, #2b7eae 100%); 
}
.grid-container1{
    display: flex;
    justify-content: space-evenly;
    object-fit:contain;
    
}

.grid-container2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    background-image: linear-gradient(120deg, #1d617a 0%, #2b7eae 100%);    
    padding-top: 30px;
    padding-bottom: 30px;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
   
    
}
.grid-container3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    background-image: linear-gradient(120deg, #1d617a 0%, #2b7eae 100%);    
    padding-top: 30px;
    padding-bottom: 30px;
    grid-row-gap: 0.5em;
   
    
}


footer{
    position: relative;
    background-image: linear-gradient(120deg, #1d617a 0%, #2b7eae 100%);
    width: 100%;
    height: 120px;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: white;

}
footer i{
    width: 50px;
    height: 50px;
    
    
}