*{
    margin: 0;
   

    padding: 0;
    box-sizing: border-box;
   
}
nav{
    background-color: #1d617b;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
li,a{
    color: white;
    display: inline;
    padding: 40px;
    text-decoration-line: none;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

header{
    background-color: white;
}
header img{
width: 150px;
height: 150px;


}